# //npm.greensock.com/:_authToken=ce6ddbd2-1239-489a-8200-212577516001
# @gsap:registry=https://npm.greensock.com

//npm.greensock.com/:_authToken=ce6ddbd2-1239-489a-8200-212577516001
@gsap:registry=https://npm.greensock.com