* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
  scrollbar-width: none;
}

/* Optional: show position indicator in red */
.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.homepage {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

.homepage .inner_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homepage .scenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.homepage .scenes .scenes_wraper {
  position: relative;
  width: calc(66vw - 2rem);
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

@media (min-width: 576px) {
  .homepage .scenes .scenes_wraper {
    width: calc(30vw - 2rem);
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .homepage .scenes .scenes_wraper {
    width: calc(20vw - 2rem);
    height: 300px;
  }
}

@media (min-width: 1536px) {
  .homepage .scenes .scenes_wraper {
    width: calc(20vw - 2rem);
    height: 500px;
  }
}

@media (min-width: 2560px) {
  .homepage .scenes .scenes_wraper {
    width: calc(23vw - 2rem);
    height: 500px;
  }
}

.homepage .scenes .scenes_wraper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.homepage .scenes .scenes_wraper video {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.s-2 {
  margin-top: -15rem;
}

.s-4 {
  margin-top: -15rem;
}

.s-5 {
  margin-top: -8rem;
  display: none !important;
}

@media (min-width: 1024px) {
  .s-5 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.s-1 {
  margin-top: -7rem;
  display: none !important;
}

@media (min-width: 1024px) {
  .s-1 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

.s-3 .scenes_wraper {
  width: 50vw !important;
}

@media (min-width: 576px) {
  .s-3 .scenes_wraper {
    width: 350px !important;
  }
}

@media (min-width: 1024px) {
  .s-3 .scenes_wraper {
    width: 350px !important;
  }
}

@media (min-width: 1536px) {
  .s-3 .scenes_wraper {
    width: 600px !important;
  }
}

@media (min-width: 2560px) {
  .s-3 .scenes_wraper {
    width: 800px !important;
  }
}

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f6e9e9;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-100);
          transform: translateY(-100);
}

.video-modal .video-modal__warper {
  max-width: 90%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-modal .video-modal__warper img {
  max-width: 250px;
}

.video-modal video {
  width: 100%;
  max-width: 700px;
}

.video-modal .close-video {
  position: absolute;
  top: 2rem;
  right: 0rem;
  font-size: 2rem;
  font-weight: 700;
  z-index: 99999;
  cursor: pointer;
  color: white;
}

@media (min-width: 768px) {
  .video-modal .close-video {
    top: 0rem;
    font-size: 2.5rem;
  }
}

.show {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.video-play {
  position: relative;
  cursor: pointer;
}

.video-play .play {
  pointer-events: none;
  position: absolute;
  top: 0%;
  left: 0%;
  fill: white;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video-play .play svg {
  width: 48px;
}

.contacts {
  position: fixed;
  top: 90vh;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts svg {
  width: 36px;
  height: 36px;
}

.contacts svg:first-child {
  margin-right: 1rem;
}

.contacts .contacts__wraper {
  margin: 0.5rem 1rem;
  position: relative;
}

button {
  background-color: transparent;
  border: 0;
}

.contacts-a {
  display: block;
  text-decoration: none;
  font-size: 0.8rem;
  color: black;
}

.contacts-a .contacts-a__action {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts-a .contacts-a__action .name,
.contacts-a .contacts-a__action .hoverText {
  background-color: white;
  border-radius: 20px;
  min-width: 50px;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contacts-a .contacts-a__action .hoverText {
  position: absolute;
  background-color: black;
  color: white;
  z-index: -1;
  opacity: 0;
}

.contacts-a .contacts-a__action .name__hover {
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  padding: 0;
  min-width: unset;
  -webkit-transform: translateX(-20px) translateX(10px);
          transform: translateX(-20px) translateX(10px);
  z-index: 2;
}

.contacts-a .contacts-a__action .hoverText__hover {
  position: relative;
  top: unset;
  width: 100%;
  opacity: 1;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  padding: 0.5rem 1.5rem;
  z-index: 1;
}

.contacts-a .contacts-a__action .restore {
  width: 50px;
  overflow: hidden;
  -webkit-animation: restore 0.5s linear forwards;
          animation: restore 0.5s linear forwards;
}

.scenes_wraper::after {
  content: '';
  background: url("/noisy-texture-200x200-o24-d32-c-ffffff-t1.png");
  position: absolute;
  top: -50%;
  left: -50%;
  min-width: 400%;
  min-height: 400%;
  opacity: 0.75;
  -webkit-animation: noiseFX 0.8s steps(6) infinite;
          animation: noiseFX 0.8s steps(6) infinite;
  pointer-events: none;
  border: 1px solid red;
}

.pointer {
  cursor: pointer;
}

.s-3 .scalLogo {
  position: fixed !important;
  z-index: 999999999;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw !important;
  height: 100vh !important;
}

.cardAnimation {
  position: absolute;
  -webkit-animation: logo 1s linear forwards;
          animation: logo 1s linear forwards;
}

#logoprofile {
  background-color: transparent;
  border: 0;
}

.logo-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 1;
}

.logo-modal__wraper {
  background-color: #f6e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.logo-modal__wraper img {
  width: 400px;
}

#closeLogoModal {
  position: absolute;
  top: 2rem;
  right: 4rem;
  cursor: pointer;
}

.logo-modal-show {
  -webkit-animation: logo 0.5s linear forwards;
          animation: logo 0.5s linear forwards;
  -webkit-transform: scale(1);
          transform: scale(1);
}

@-webkit-keyframes noiseFX {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  30% {
    -webkit-transform: translate(3%, -15%);
            transform: translate(3%, -15%);
  }
  50% {
    -webkit-transform: translate(12%, 9%);
            transform: translate(12%, 9%);
  }
  70% {
    -webkit-transform: translate(9%, 4%);
            transform: translate(9%, 4%);
  }
  90% {
    -webkit-transform: translate(-1%, 7%);
            transform: translate(-1%, 7%);
  }
}

@keyframes noiseFX {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  30% {
    -webkit-transform: translate(3%, -15%);
            transform: translate(3%, -15%);
  }
  50% {
    -webkit-transform: translate(12%, 9%);
            transform: translate(12%, 9%);
  }
  70% {
    -webkit-transform: translate(9%, 4%);
            transform: translate(9%, 4%);
  }
  90% {
    -webkit-transform: translate(-1%, 7%);
            transform: translate(-1%, 7%);
  }
}

@-webkit-keyframes restore {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes restore {
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes logo {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes logo {
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.scenes_wraper .s-3__video__wraper {
  height: 100%;
  position: relative;
}

.scenes_wraper .s-3__video__wraper__text {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
  color: white;
  z-index: 99;
}

.scenes_wraper .s-3__video__wraper__text button {
  background-color: rgba(148, 163, 184, 0.75);
  padding: 0.45rem 1rem;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 0.85rem;
}

.scenes_wraper .s-3__video__wraper__text .v-title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1rem;
  background-color: rgba(148, 163, 184, 0.75);
  padding: 0.75rem;
  text-transform: capitalize;
  text-align: center;
}

.mb-4 {
  margin-bottom: 1rem;
}

.info-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  z-index: 1;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.show-info-moda {
  -webkit-animation: logo 0.5s linear forwards;
          animation: logo 0.5s linear forwards;
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: #f6e9e9;
}

.info-modal-content {
  width: 100%;
  padding: 2rem;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index: 99999;
  height: 80vh;
  overflow-y: scroll;
  scrollbar-width: 5px;
  background-color: white;
  border-radius: 5px;
  scrollbar-width: thin;
  scrollbar-color: #f6e9e9;
}

.info-modal-content li {
  margin: 0.5rem 0;
  margin-left: 1.5rem;
}

.info-modal-content p {
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.info-modal-content h1 {
  margin-bottom: 1.5rem;
}

.info-modal-content:-webkit-scrollbar {
  width: 5px;
}

.info-modal-content:-webkit-scrollbar-track {
  background-color: #f6e9e9;
}

.info-modal-content:-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  border: 3px solid transparent;
}

.info-modal-content::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #f6e9e9;
}

.info-modal-content::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.info-modal-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.close-info {
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  right: 1rem;
  float: right;
  font-size: 2rem;
  font-weight: 700;
}
